$grey-ground-color: #374246;
$light-grey-ground-color: #435157;
$grey_bg_color: #3D4A4F;
$grey-font-color: #92A0A5;
$green-color: #70B100;
$white-color: #fff;
$black-color: #061C06;

$width-underline-headers: 70px;
$width-rectangle-slider: 700px;
$height-rectangle-slider: 300px;
$diameter-circle-slider: 123px;

$breakpoint-gt-sm: 959px;
$breakpoint-lt-md: 960px;
$breakpoint-gt-md: 1280px;
$breakpoint-gt-xs : 600px;