<div class="layout">
    <div class="layout__header">
        <app-header (toggleSidenav)="sidenav.toggle()" [sidenavState]="sidenav.opened"></app-header>
    </div>

    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" fixedInViewport="false" position="end">

            <div class="layout__sidenav" (click)="sidenav.toggle()">
                <div *ngFor="let item of sidenavArray" class="layout__sidenav__item" [routerLink]="['/']" >
                    {{item.label}}
                </div>
            </div>

        </mat-sidenav>

        <mat-sidenav-content>
            <div class="layout__content" [ngClass.lt-lg]="{'layout__content__mobile': true}">
                <mat-progress-bar class="layout__content__progress-bar" [ngClass]="{active: isLoaderShow}"></mat-progress-bar>
                <!-- <app-users></app-users> -->
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>